Repository chaoss/augur, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ccarterlandis, @gabe-heim, @michaelwoodruffdev, @sgoggins

.github/CODEOWNERS:

*.py @ccarterlandis @gabe-heim

/augur/ @ccarterlandis @gabe-heim

/frontend/ @gabe-heim @michaelwoodruffdev

/schema @sgoggins

/workers/ @ccarterlandis @gabe-heim @sgoggins

/test/ @ccarterlandis
/util/packaging @ccarterlandis
/scripts/ @ccarterlandis
/docs/ @ccarterlandis
/.dockerignore @ccarterlandis
/.travis.yml @ccarterlandis
*compose.yml @ccarterlandis
/readthedocs.yml @ccarterlandis
/Makefile @ccarterlandis
/tox.ini @ccarterlandis

remove needing the pass logging object as a param to standard methods, it is not necessary
  workers/repo_info_worker/repo_info_worker/worker.py
  workers/standard_methods.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

remove needing the pass logging object as a param to standard methods, it is not necessary
  workers/repo_info_worker/repo_info_worker/worker.py
  workers/standard_methods.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

pr worker remove logging from standard method calls
  workers/pull_request_worker/pull_request_worker/worker.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

pr worker remove logging from standard method calls
  workers/pull_request_worker/pull_request_worker/worker.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

lb, insight, and gh workers remove logging from standard method calls
  workers/github_worker/github_worker/worker.py
  workers/insight_worker/insight_worker/worker.py
  workers/linux_badge_worker/linux_badge_worker/worker.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

lb, insight, and gh workers remove logging from standard method calls
  workers/github_worker/github_worker/worker.py
  workers/insight_worker/insight_worker/worker.py
  workers/linux_badge_worker/linux_badge_worker/worker.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

broker enhanced logging, more readable now
  augur/routes/broker.py
Owners: @ccarterlandis, @gabe-heim

broker enhanced logging, more readable now
  augur/routes/broker.py
Owners: @ccarterlandis, @gabe-heim

Fixed SQL Query, Added GroupMetric & fixed metric test route
  augur/metrics/pull_request/pull_request.py
  augur/metrics/pull_request/routes.py
  test/api/test_pull_request_routes.py
  test/metrics/test_pull_request_metrics.py
Owners: @ccarterlandis, @gabe-heim

Fixed SQL Query, Added GroupMetric & fixed metric test route
  augur/metrics/pull_request/pull_request.py
  augur/metrics/pull_request/routes.py
  test/api/test_pull_request_routes.py
  test/metrics/test_pull_request_metrics.py
Owners: @ccarterlandis, @gabe-heim

Fixed tests
  test/api/test_pull_request_routes.py
  test/metrics/test_pull_request_metrics.py
Owners: @ccarterlandis

Fixed tests
  test/api/test_pull_request_routes.py
  test/metrics/test_pull_request_metrics.py
Owners: @ccarterlandis
