Repository chaoss/augur, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ccarterlandis, @gabe-heim, @michaelwoodruffdev, @sgoggins

.github/CODEOWNERS:

*.py @ccarterlandis @gabe-heim

/augur/ @ccarterlandis @gabe-heim

/frontend/ @gabe-heim @michaelwoodruffdev

/schema @sgoggins

/workers/ @ccarterlandis @gabe-heim @sgoggins

/test/ @ccarterlandis
/util/packaging @ccarterlandis
/scripts/ @ccarterlandis
/docs/ @ccarterlandis
/.dockerignore @ccarterlandis
/.travis.yml @ccarterlandis
*compose.yml @ccarterlandis
/readthedocs.yml @ccarterlandis
/Makefile @ccarterlandis
/tox.ini @ccarterlandis

Refactor top level dependency specification style
  fastentrypoints.py
  requirements.txt
  setup.py
Owners: @ccarterlandis, @gabe-heim

Refactor top level dependency specification style
  fastentrypoints.py
  requirements.txt
  setup.py
Owners: @ccarterlandis, @gabe-heim

Add script to export Python dependencies
  .gitignore
  dev_requirements.txt
  requirements.txt
  scripts/control/export_dependencies.sh
Owners: @ccarterlandis

Add script to export Python dependencies
  .gitignore
  dev_requirements.txt
  requirements.txt
  scripts/control/export_dependencies.sh
Owners: @ccarterlandis

Update Travis CI build command
  .travis.yml
Owners: @ccarterlandis

Update Travis CI build command
  .travis.yml
Owners: @ccarterlandis

Clean up workers setup.py
  workers/facade_worker/setup.py
  workers/github_worker/setup.py
  workers/insight_worker/setup.py
  workers/linux_badge_worker/setup.py
  workers/metric_status_worker/setup.py
  workers/pull_request_worker/setup.py
  workers/repo_info_worker/setup.py
  workers/value_worker/setup.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

Clean up workers setup.py
  workers/facade_worker/setup.py
  workers/github_worker/setup.py
  workers/insight_worker/setup.py
  workers/linux_badge_worker/setup.py
  workers/metric_status_worker/setup.py
  workers/pull_request_worker/setup.py
  workers/repo_info_worker/setup.py
  workers/value_worker/setup.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

Clean up old/irrelevant/unused files in workers
  requirements.txt
  workers/facade_worker/README.rst
  workers/facade_worker/tests/test_sample.py
  workers/facade_worker/tox.ini
  workers/github_worker/README.rst
  workers/github_worker/tests/test_sample.py
  workers/github_worker/tox.ini
  workers/insight_worker/README.rst
  workers/insight_worker/tests/test_sample.py
  workers/insight_worker/tox.ini
  workers/linux_badge_worker/README.rst
  workers/linux_badge_worker/sample.config
  workers/linux_badge_worker/tests/test_sample.py
  workers/linux_badge_worker/tox.ini
  workers/metric_status_worker/README.rst
  workers/pull_request_worker/README.rst
  workers/pull_request_worker/tests/test_sample.py
  workers/pull_request_worker/tox.ini
  workers/repo_info_worker/README.rst
  workers/repo_info_worker/tests/test_sample.py
  workers/value_worker/tests/test_sample.py
  workers/worker_test_repos.md
Owners: @ccarterlandis, @gabe-heim, @sgoggins

Clean up old/irrelevant/unused files in workers
  requirements.txt
  workers/facade_worker/README.rst
  workers/facade_worker/tests/test_sample.py
  workers/facade_worker/tox.ini
  workers/github_worker/README.rst
  workers/github_worker/tests/test_sample.py
  workers/github_worker/tox.ini
  workers/insight_worker/README.rst
  workers/insight_worker/tests/test_sample.py
  workers/insight_worker/tox.ini
  workers/linux_badge_worker/README.rst
  workers/linux_badge_worker/sample.config
  workers/linux_badge_worker/tests/test_sample.py
  workers/linux_badge_worker/tox.ini
  workers/metric_status_worker/README.rst
  workers/pull_request_worker/README.rst
  workers/pull_request_worker/tests/test_sample.py
  workers/pull_request_worker/tox.ini
  workers/repo_info_worker/README.rst
  workers/repo_info_worker/tests/test_sample.py
  workers/value_worker/tests/test_sample.py
  workers/worker_test_repos.md
Owners: @ccarterlandis, @gabe-heim, @sgoggins

[feat] Microtask 0, 1, 2 completed
  workers/KIRA009/data_rest.json
  workers/KIRA009/gitlab_rest.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

[feat] Microtask 0, 1, 2 completed
  workers/KIRA009/data_rest.json
  workers/KIRA009/gitlab_rest.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

Switch psycopg2 to psycopg2-binary
  dev_requirements.txt
  requirements.txt
  scripts/install/workers.sh
  setup.py
  workers/facade_worker/setup.py
  workers/github_worker/setup.py
  workers/insight_worker/setup.py
  workers/linux_badge_worker/setup.py
  workers/metric_status_worker/setup.py
  workers/pull_request_worker/setup.py
  workers/repo_info_worker/setup.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

Switch psycopg2 to psycopg2-binary
  dev_requirements.txt
  requirements.txt
  scripts/install/workers.sh
  setup.py
  workers/facade_worker/setup.py
  workers/github_worker/setup.py
  workers/insight_worker/setup.py
  workers/linux_badge_worker/setup.py
  workers/metric_status_worker/setup.py
  workers/pull_request_worker/setup.py
  workers/repo_info_worker/setup.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

Data Analysis
  notebooks/Chaoss_Issue_Events_Data_Analysis.ipynb
Owners: none

Data Analysis
  notebooks/Chaoss_Issue_Events_Data_Analysis.ipynb
Owners: none

bring in Max's changes to manager.py
  augur/routes/manager.py
Owners: @ccarterlandis, @gabe-heim

bring in Max's changes to manager.py
  augur/routes/manager.py
Owners: @ccarterlandis, @gabe-heim

Refactor install.sh to use new targets feature
  scripts/install/install.sh
Owners: @ccarterlandis

Refactor install.sh to use new targets feature
  scripts/install/install.sh
Owners: @ccarterlandis

Add timeout option to Server config block
  augur/cli/configure.py
  augur/cli/run.py
Owners: @ccarterlandis, @gabe-heim

Add timeout option to Server config block
  augur/cli/configure.py
  augur/cli/run.py
Owners: @ccarterlandis, @gabe-heim

update response logic to meet changes to manager.py
  augur/routes/manager.py
  augurface/src/components/Dashboard/ManageRepos/ManageButtons.vue
  augurface/src/components/Dashboard/ManageRepos/repoGroup/RepoGroup.vue
  augurface/src/store/ReposModule.js
Owners: @ccarterlandis, @gabe-heim

update response logic to meet changes to manager.py
  augur/routes/manager.py
  augurface/src/components/Dashboard/ManageRepos/ManageButtons.vue
  augurface/src/components/Dashboard/ManageRepos/repoGroup/RepoGroup.vue
  augurface/src/store/ReposModule.js
Owners: @ccarterlandis, @gabe-heim

Clean up Makefile
  Makefile
  scripts/control/clean.sh
  scripts/install/rebuild.sh
Owners: @ccarterlandis

Clean up Makefile
  Makefile
  scripts/control/clean.sh
  scripts/install/rebuild.sh
Owners: @ccarterlandis

Clean up Makefile & misc scripts
  Makefile
  augur/cli/util.py
  scripts/control/augur.sh
  scripts/control/kill.sh
  scripts/control/processes.sh
  scripts/control/run.sh
  scripts/control/status.sh
  scripts/control/workers_start.sh
  scripts/install/webserver/index.html
  scripts/install/webserver/server.py
  scripts/install/webserver/web_config.js
Owners: @ccarterlandis, @gabe-heim

Clean up Makefile & misc scripts
  Makefile
  augur/cli/util.py
  scripts/control/augur.sh
  scripts/control/kill.sh
  scripts/control/processes.sh
  scripts/control/run.sh
  scripts/control/status.sh
  scripts/control/workers_start.sh
  scripts/install/webserver/index.html
  scripts/install/webserver/server.py
  scripts/install/webserver/web_config.js
Owners: @ccarterlandis, @gabe-heim

Added Anomaly-Messages
  notebooks/Akshara-Anomaly Detection.ipynb
Owners: none

Added Anomaly-Messages
  notebooks/Akshara-Anomaly Detection.ipynb
Owners: none

add AugTextArea base component and replace AugTextInput with AugTextArea in RepoGroup.vue
  augurface/src/components/BaseComponents/AugTextArea.vue
  augurface/src/components/BaseComponents/AugTextInput.vue
  augurface/src/components/Dashboard/ManageRepos/repoGroup/RepoGroup.vue
Owners: none

add AugTextArea base component and replace AugTextInput with AugTextArea in RepoGroup.vue
  augurface/src/components/BaseComponents/AugTextArea.vue
  augurface/src/components/BaseComponents/AugTextInput.vue
  augurface/src/components/Dashboard/ManageRepos/repoGroup/RepoGroup.vue
Owners: none

Added API & metrics tests(PR closed no merge
  augur/metrics/pull_request/routes.py
  test/api/test_pull_request_routes.py
  test/metrics/test_pull_request_metrics.py
Owners: @ccarterlandis, @gabe-heim

Added API & metrics tests(PR closed no merge
  augur/metrics/pull_request/routes.py
  test/api/test_pull_request_routes.py
  test/metrics/test_pull_request_metrics.py
Owners: @ccarterlandis, @gabe-heim

Refactored to helper methods and added unit test
  workers/github_worker/github_worker/helpers.py
  workers/github_worker/github_worker/worker.py
  workers/github_worker/tests/test_helper_methods.py
  workers/github_worker/tests/test_sample.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

Refactored to helper methods and added unit test
  workers/github_worker/github_worker/helpers.py
  workers/github_worker/github_worker/worker.py
  workers/github_worker/tests/test_helper_methods.py
  workers/github_worker/tests/test_sample.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

Moved function to standard methods
  workers/tests/test_standard_methods.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

Moved function to standard methods
  workers/tests/test_standard_methods.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

Moved function to standard methods
  workers/github_worker/github_worker/helpers.py
  workers/github_worker/github_worker/worker.py
  workers/github_worker/tests/test_helper_methods.py
  workers/standard_methods.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins

Moved function to standard methods
  workers/github_worker/github_worker/helpers.py
  workers/github_worker/github_worker/worker.py
  workers/github_worker/tests/test_helper_methods.py
  workers/standard_methods.py
Owners: @ccarterlandis, @gabe-heim, @sgoggins
