Repository chaoss/augur, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ccarterlandis, @sgoggins, @gabe-heim

more debugging
  docker-compose.yml
Owners: @ccarterlandis

Conflicts
  docker-setup.sh
  util/docker/backend/Dockerfile
Owners: @ccarterlandis

Formatting
  docker-setup.sh
Owners: none

Lots of progress. Working on making build process for local database painless.
  docker-compose.yml
  docker-setup.sh
  util/docker/backend/Dockerfile
Owners: @ccarterlandis

non-randomized docker port.
  augur/config.py
Owners: none

added blurred password
  docker-setup.sh
Owners: none

Testing on macOS
  docker-setup.sh
Owners: none

More user friendly
  docker-setup.sh
  docs/source/docker/docker-compose.rst
  docs/source/docker/getting-started.rst
Owners: @ccarterlandis

Testing on macOS
  docker-setup.sh
Owners: none

limited macOS compat
  docker-setup.sh
  docs/source/docker/docker-compose.rst
  docs/source/docker/getting-started.rst
Owners: @ccarterlandis

Stopped docker from deploying the frontend because the frontend sucks right now. Trying to amend conflicts.
  docker-compose.yml
  docker-setup.sh
  docs/source/docker/getting-started.rst
  docs/source/docker/toc.rst
  docs/source/docker/usage.rst
Owners: @ccarterlandis

Naive attempt to fix the outgoing problem
  docker-setup.sh
  util/docker/backend/Dockerfile
Owners: @ccarterlandis

Trying to cut down on bash script file length a bit.
  scripts/docker/docker-setup-database.sh
  scripts/docker/docker-setup-external.sh
Owners: @ccarterlandis

spelling
  docs/source/docker/usage.rst
  docs/source/rest-api/spec.yml
Owners: @ccarterlandis

Updated documentation and made script a bit better.
  docker-compose.yml
  docker-setup.sh
  docs/source/docker/docker-compose.rst
  docs/source/docker/docker.rst
  docs/source/docker/getting-started.rst
  docs/source/docker/usage.rst
  util/docker/backend/Dockerfile
Owners: @ccarterlandis

limited macOS compat
  docker-setup.sh
Owners: none

added blurred password
  docker-setup.sh
Owners: none

Trying to cut down on bash script file length a bit.
  scripts/docker/cleanup.sh
Owners: @ccarterlandis

limited macOS compat
  docker-setup.sh
  docs/source/docker/docker-compose.rst
  docs/source/docker/getting-started.rst
Owners: @ccarterlandis

more troubleshooting
  docker-compose.yml
  docker-setup.sh
  util/docker/backend/Dockerfile
  util/docker/backend/backend.docker.config.json
  util/docker/backend/install_packages.sh
Owners: @ccarterlandis

updates to setup libraries, and metadata release info
  metadata.py
  setup.py
Owners: @ccarterlandis, @sgoggins

All files added
  scripts/docker/docker-setup-external.sh
Owners: @ccarterlandis

Docker container database up and running now. Updated documentation accordingly
  database-compose.yml
  docker-compose.yml
  docker-setup.sh
  docs/source/docker/docker-compose.rst
  docs/source/docker/docker.rst
  docs/source/docker/getting-started.rst
  docs/source/docker/usage.rst
Owners: @ccarterlandis

docker-compose is now functional! Now I can work on making backend.docker.config.json more modular and polishing the setup script
  docker-compose.yml
  docker-setup.sh
  util/docker/backend/Dockerfile
Owners: @ccarterlandis

The script now checks all of the environment variables before continuing.
  scripts/docker/docker-setup-database.sh
  scripts/docker/docker-setup-external.sh
Owners: @ccarterlandis

Scripts are less stupid
  scripts/docker/cleanup.sh
  scripts/docker/docker-setup-database.sh
  scripts/docker/docker-setup-external.sh
Owners: @ccarterlandis

added blurred password
  docker-setup.sh
Owners: none

Update installation.rst
  docs/source/getting-started/installation.rst
Owners: @ccarterlandis

All files added
  scripts/docker/docker-setup-database.sh
  scripts/docker/docker-setup-external.sh
Owners: @ccarterlandis

added blurred password
  docker-setup.sh
Owners: none

Naive attempt to fix the outgoing problem
  docker-setup.sh
  util/docker/backend/Dockerfile
Owners: @ccarterlandis

limited macOS compat
  docker-setup.sh
Owners: none

Documentation formatting
  docs/source/docker/getting-started.rst
Owners: @ccarterlandis

minor change
  docs/source/docker/docker.rst
  docs/source/docker/getting-started.rst
Owners: @ccarterlandis

Formatting
  docker-setup.sh
Owners: none

The script now checks all of the environment variables before continuing.
  scripts/docker/docker-setup-database.sh
  scripts/docker/docker-setup-external.sh
Owners: @ccarterlandis

Tiny changes
  scripts/docker/docker-setup-database.sh
Owners: @ccarterlandis

All files added
  scripts/docker/docker-setup-database.sh
  scripts/docker/docker-setup-external.sh
Owners: @ccarterlandis

Trying to cut down on bash script file length a bit.
  scripts/docker/cleanup.sh
Owners: @ccarterlandis

Tiny change
  docker-compose.yml
Owners: @ccarterlandis

.github/CODEOWNERS:

/augur/cli/ @ccarterlandis
/augur/metrics/ @ccarterlandis @sgoggins
/augur/housekeeper/ @gabe-heim
/augur/server.py @ccarterlandis @gabe-heim
/augur/application.py @ccarterlandis @sgoggins @gabe-heim
/augur/routes/ @ccarterlandis @gabe-heim @sgoggins

/frontend/ @gabe-heim @sgoggins

/schema/ @sgoggins @ccarterlandis

/schema/generate @sgoggins 

/workers/ @ccarterlandis @gabe-heim @sgoggins

/README.md @sgoggins @ccarterlandis
/CONTRIBUTING.md @sgoggins @ccarterlandis
/LICENSE @sgoggins @ccarterlandis
/CODE_OF_CONDUCT.md @sgoggins @ccarterlandis

/tests/ @ccarterlandis
/util/docker @ccarterlandis
/scripts/ @ccarterlandis
/docs/ @ccarterlandis
/.dockerignore @ccarterlandis
/.travis.yml @ccarterlandis
*compose.yml @ccarterlandis
/readthedocs.yml @ccarterlandis
/Makefile @ccarterlandis
/tox.ini @ccarterlandis
*requirements.txt @ccarterlandis
/setup.py @ccarterlandis @sgoggins
