Repository chaoss/augur, pull requests merged in 2019-03, with the labels that each got.

#252 fix metrics status not rendering by altering the components rendered …
  augur/metadata.py
  frontend/app/components/MetricsStatusCard.vue
  frontend/app/router/router.js
Labels: bug, critical

#253 Updates Request library version to 2.21.
  requirements.txt
Labels: backend, installation

#254 Release v0.9.3
  Makefile
  README.md
  Vagrantfile
  augur/datasources/facade/test_facade.py
  augur/datasources/metrics_status/__init__.py
  augur/datasources/metrics_status/metrics_status.py
  augur/metadata.py
  docs/python/build/doctrees/environment.pickle
  docs/python/build/doctrees/windows-install.doctree
  docs/python/source/windows-install.md
  docs/python/source/windows-install.rst
  frontend/package-lock.json
  frontend/public/api_docs/api_project.js
  frontend/public/api_docs/api_project.json
  frontend/public/app.js
  frontend/public/app.js.map
  frontend/public/docs/_modules/augur/datasources/facade/facade.html
  frontend/public/docs/_sources/windows-install.rst.txt
  frontend/public/docs/searchindex.js
  frontend/public/docs/windows-install.html
  package-lock.json 2.json
  requirements.txt
Labels: backend, critical, installation
