Repository chaoss/augur, pull requests merged in 2019-04, with the labels that each got.

#260 fix typo in dev-guide
  docs/python/source/dev-guide/2-install.rst
  frontend/public/docs/dev-guide/2-install.html
Labels: documentation

#257 Implement repository_size in githubapi
  augur/datasources/githubapi/githubapi.py
  augur/datasources/githubapi/routes.py
  docs/scratchpad/master-metrics-order.md
Labels: backend, metric

#261 Implemented metrics 'Pull Request Closed' and 'Pull Request Comment Duration' in Ghtorrent
  augur/datasources/ghtorrent/ghtorrent.py
  augur/datasources/ghtorrent/routes.py
  augur/datasources/ghtorrent/test_ghtorrent.py
Labels: backend

#255 Release v0.9.4
  augur/datasources/facade/facade.py
  augur/datasources/facade/test_facade.py
  augur/metadata.py
  docs/python/source/dev-guide/2-install.rst
  frontend/app/components/charts/DynamicLineChart.vue
  frontend/public/docs/dev-guide/2-install.html
Labels: backend

#268 Pull Request based metrics in githubapi
  augur/datasources/githubapi/githubapi.py
  augur/datasources/githubapi/routes.py
Labels: API Request

#270 Release v0.9.5
  CONTRIBUTING.md
  Makefile
  README.md
  Vagrantfile
  augur/metadata.py
  docs/python/build/doctrees/dev-guide/1-overview.doctree
  docs/python/build/doctrees/dev-guide/2-install.doctree
  docs/python/build/doctrees/environment.pickle
  docs/python/source/dev-guide/1-overview.rst
  frontend/public/api_docs/api_project.js
  frontend/public/api_docs/api_project.json
  frontend/public/docs/_modules/augur/datasources/facade/facade.html
  frontend/public/docs/_sources/dev-guide/1-overview.rst.txt
  frontend/public/docs/_sources/dev-guide/2-install.rst.txt
  frontend/public/docs/dev-guide/1-overview.html
  frontend/public/docs/searchindex.js
  requirements.txt
  util/packaging/vagrant/provision.sh
Labels: CHAOSS, backend, frontend

#273 Release v.0.9.6
  Makefile
  augur/metadata.py
Labels: backend
