Repository chaoss/augur, pull requests merged in 2019-08, with the labels that each got.

#344 Fix port bug in repo_info_worker
  workers/repo_info_worker/repo_info_worker/runtime.py
Labels: bug

#356 Added script to create augur.config.json
  Makefile
  util/make-config.py
Labels: NDE

#357 Hotfix
  .gitignore
  .travis.yml
  Makefile
  augur/datasources/facade/routes.py
  augur/datasources/ghtorrent/ghtorrent.py
  augur/datasources/localcsv/localcsv.py
  augur/runtime.py
  dist/augur-0.9.4-py3.6.egg
  test/api/test_api.py
  workers/github_worker/github_worker/worker.py
Labels: backend, bug, deployed version
