Repository chaoss/augur, pull requests merged in 2019-10, with the labels that each got.

#408 Fix bug that causes task failure when inserting PR meta data
  workers/pull_request_worker/pull_request_worker/worker.py
Labels: bug, workers

#419 Compartmentalize installation process
  Makefile
  README.md
  docs/source/getting-started/getting-started-toc.rst
  docs/source/getting-started/what-is-augur.rst
  docs/source/installation.rst
  util/scripts/install/augurinstall.sh
  util/scripts/install/backend.sh
  util/scripts/install/checks.sh
  util/scripts/install/config.sh
  util/scripts/install/docs.sh
  util/scripts/install/frontend.sh
  util/scripts/install/install.sh
  util/scripts/install/make_config.py
  util/scripts/install/rebuild.sh
  util/scripts/install/setup_db.sh
  util/scripts/install/webserver/index.html
  util/scripts/install/webserver/server.py
  util/scripts/install/webserver/web_config.js
  util/scripts/install/workers.sh
Labels: NDE, installation

#423 Add ability to create new repo groups from CLI
  augur/cli/db.py
Labels: NDE, backend

#433 Dev mw
  frontend/src/components/charts/DynamicLineChart.vue
  frontend/src/components/common/CompareControl.vue
  frontend/src/store/modules/common/mutations.ts
  frontend/src/store/modules/compare/mutations.ts
Labels: enhancement, frontend

#454 Update augur util kill to check for venv
  util/scripts/control/augurkill.sh
Labels: bug, critical, deployed version
