Repository chaoss/augur, pull requests merged in 2019-02, with the labels that each got.

#230 Implemented metric 'Open Issues' in githubapi
  augur/datasources/githubapi/githubapi.py
Labels: backend, enhancement, metric

#234 Add back Git repo comparison functionality
  docs/python/build/doctrees/AugurContext.doctree
  frontend/app/components/MainControls.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/public/app.js
  frontend/public/app.js.map
  frontend/public/vendor.js
  frontend/public/vendor.js.map
Labels: critical, deployed version, frontend

#237 Add functionality to CII button
  frontend/app/components/RiskCard.vue
Labels: CHAOSS, metric

#241 Update metadata.py
  augur/metadata.py
Labels: installation
