Repository chaoss/augur, pull requests merged in 2019-01, with the labels that each got.

#192 Create default augur.config.json
  augur.config.json
Labels: documentation, install

#223 Fix broken links in Python documentation
  README.md
  augur/datasources/ghtorrent/ghtorrent.py
  augur/datasources/ghtorrent/routes.py
  augur/datasources/githubapi/routes.py
  docs/python/build/doctrees/AugurContext.doctree
  docs/python/build/doctrees/dev-guide/1-overview.doctree
  docs/python/build/doctrees/dev-guide/2-install.doctree
  docs/python/build/doctrees/environment.pickle
  docs/python/source/augurcontext.rst
  docs/python/source/dev-guide/1-overview.rst
  docs/python/source/dev-guide/2-install.rst
  docs/scratchpad/server_restart_log.md
  frontend/app/components/BaseRepoActivityCard.vue
  frontend/app/components/ExperimentalCard.vue
  frontend/app/components/GrowthMaturityDeclineCard.vue
  frontend/public/api_docs/api_data.js
  frontend/public/api_docs/api_data.json
  frontend/public/api_docs/api_project.js
  frontend/public/api_docs/api_project.json
  frontend/public/docs/_modules/augur/application.html
  frontend/public/docs/_modules/augur/datasources/githubapi/githubapi.html
  frontend/public/docs/_modules/augur/server.html
  frontend/public/docs/_sources/augurcontext.rst.txt
  frontend/public/docs/_sources/dev-guide/1-overview.rst.txt
  frontend/public/docs/_sources/dev-guide/2-install.rst.txt
  frontend/public/docs/augurcontext.html
  frontend/public/docs/dev-guide/1-overview.html
  frontend/public/docs/dev-guide/2-install.html
  frontend/public/docs/objects.inv
  frontend/public/docs/searchindex.js
Labels: deployed version, documentation

#224 Add CII Best Practices Badge to Dev
  Makefile
  frontend/app/components/RiskCard.vue
  frontend/public/app.js
  frontend/public/app.js.map
Labels: CHAOSS, backend, enhancement

#222 Implement metrics in githubapi
  augur/datasources/githubapi/githubapi.py
Labels: metric
