Repository chaoss/augur, pull requests merged in 2020-04, with the labels that each got.

#638 Completed the microtasks
  .gitignore
  workers/Adarsh-NP/api_demo/app.py
  workers/Adarsh-NP/database_demo/commitdata_collection.py
  workers/Adarsh-NP/database_demo/commits_database.py
Labels: GSoC 2020

#670 Update test cases to match new test data
  schema/repo_load_sample.csv
  test/metrics/test_issue_metrics.py
  test/metrics/test_repo_meta_metrics.py
Labels: docker, testing

#671 Implement GitHub's recommended community standards
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/release.md
  .github/config.yml
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/label.yml
  .github/workflows/welcome.yml
  MANIFEST.in
  docs/source/conf.py
  metadata.py
  setup.py
Labels: NDE

#674 Add CLI documentation
  .github/labeler.yml
  .gitignore
  Makefile
  augur/application.py
  augur/cli/configure.py
  augur/cli/db.py
  augur/cli/run.py
  augur/cli/util.py
  augur/util.py
  docker-compose.yml
  docs/source/docker/docker.rst
  docs/source/docker/getting-started.rst
  docs/source/getting-started/command-line-interface/configure.rst
  docs/source/getting-started/command-line-interface/db.rst
  docs/source/getting-started/command-line-interface/run.rst
  docs/source/getting-started/command-line-interface/toc.rst
  docs/source/getting-started/command-line-interface/util.rst
Labels: CLI, backend, documentation

#678 Fix incorrect usage of Sphinx code directive
  CONTRIBUTING.md
  docs/source/development-guide/documentation.rst
  docs/source/development-guide/installation.rst
  docs/source/development-guide/make/development.rst
  docs/source/docker/docker-compose.rst
  docs/source/docker/docker.rst
  docs/source/docker/getting-started.rst
  docs/source/docker/usage.rst
  docs/source/getting-started/collecting-data.rst
  docs/source/getting-started/command-line-interface/configure.rst
  docs/source/getting-started/command-line-interface/db.rst
  docs/source/getting-started/command-line-interface/run.rst
  docs/source/getting-started/command-line-interface/toc.rst
  docs/source/getting-started/command-line-interface/util.rst
  docs/source/getting-started/database.rst
  docs/source/getting-started/installation.rst
Labels: documentation

#683 Pre-release hotfixes
  .github/ISSUE_TEMPLATE/bug_report.md
  augur/cli/configure.py
  augur/cli/db.py
  scripts/install/api_docs.sh
Labels: CLI, backend, installation

#687 WIP: Add basic authenication to repo manager endpoints
  Makefile
  augur/cli/db.py
  augur/cli/util.py
  augur/routes/manager.py
  augurface/DevReadme.md
  augurface/package-lock.json
  augurface/package.json
  augurface/public/index.html
  augurface/public/logowithoutletters.png
  augurface/src/assets/logowithoutletters.png
  augurface/src/assets/slackbutton.png
  augurface/src/assets/slacklogo.png
  augurface/src/components/BaseComponents/AugDropdown.vue
  augurface/src/components/BaseComponents/AugIconButton.vue
  augurface/src/components/BaseComponents/AugMenuDropdown.vue
  augurface/src/components/BaseComponents/AugSpinner.vue
  augurface/src/components/BaseComponents/AugTextArea.vue
  augurface/src/components/BaseComponents/AugTextInput.vue
  augurface/src/components/RepoGroup/Repo.vue
  augurface/src/components/RepoGroup/RepoGroup.vue
  augurface/src/components/RepoGroup/RepoGroupContent.vue
  augurface/src/components/RepoGroup/RepoGroupHeader.vue
  augurface/src/components/RepoGroup/RepoList.vue
  augurface/src/components/SidePanels/SettingsPanel.vue
  augurface/src/components/SidePanels/SidePanel.vue
  augurface/src/layouts/AboutAugur/AboutAugur.vue
  augurface/src/layouts/AnalyzeRepos/AnalyzeRepos.vue
  augurface/src/layouts/Dashboard/Dashboard.vue
  augurface/src/layouts/Dashboard/dashboardHeader/DashboardHeader.vue
  augurface/src/layouts/Dashboard/dashboardHeader/NavBar.vue
  augurface/src/layouts/Dashboard/dashboardHeader/NavLink.vue
  augurface/src/layouts/Login/Login.vue
  augurface/src/layouts/Login/LoginCard.vue
  augurface/src/layouts/ManageRepos/ManageButtons.vue
  augurface/src/layouts/ManageRepos/ManageRepos.vue
  augurface/src/layouts/SlackConfig/SlackConfig.vue
  augurface/src/main.js
  augurface/src/router/index.js
  augurface/src/store/ReposModule.js
  augurface/src/store/UserModule.js
  augurface/src/store/UtilModule.js
  augurface/src/stylesheets/icon.css
  docs/source/docker/usage.rst
  docs/source/getting-started/command-line-interface/db.rst
  docs/source/getting-started/installation.rst
  schema/generate/13-schema_update_15.sql
  scripts/install/api_docs.sh
  scripts/install/api_key.sh
  scripts/install/backend.sh
  scripts/install/checks.sh
  scripts/install/clean.sh
  scripts/install/config.sh
  scripts/install/frontend.sh
  scripts/install/install.sh
  scripts/install/setup_db.sh
  scripts/install/workers.sh
  util/docker/backend/Dockerfile
Labels: CLI, backend, database, installation

#689 pr files
  augur/housekeeper/housekeeper.py
  workers/pull_request_worker/pull_request_worker/worker.py
  workers/standard_methods.py
Labels: backend, workers

#691 Default config & DB versioning updates
  MANIFEST.in
  augur/cli/configure.py
  augur/cli/db.py
  docs/source/getting-started/command-line-interface/db.rst
  package-lock.json
  scripts/control/clean.sh
  scripts/control/rebuild.sh
Labels: CLI, backend, documentation

#696 Fix typo in schema creation script
  schema/create_schema.sql
Labels: database

#698 Remove outdated repo and user route stubs
  augur/routes/__init__.py
  augur/routes/repo.py
  augur/routes/user.py
Labels: backend
