Repository chaoss/augur, pull requests merged in 2020-06, with the labels that each got.

#741 Workers being changed to extend Worker class
  augur/housekeeper/housekeeper.py
  frontend/src/AugurAPI-neko.ts
  frontend/src/AugurAPI-newtwittertest.ts
  frontend/src/AugurAPI.tx.twitter-red
  workers/contributor_worker/contributor_worker/runtime.py
  workers/contributor_worker/contributor_worker/worker.py
  workers/facade_worker/facade_worker/facade07rebuildcache.py
  workers/facade_worker/facade_worker/runtime.py
  workers/github_worker/github_worker/runtime.py
  workers/github_worker/github_worker/worker.py
  workers/insight_worker/insight_worker/runtime.py
  workers/insight_worker/insight_worker/worker.py
  workers/linux_badge_worker/linux_badge_worker/runtime.py
  workers/linux_badge_worker/linux_badge_worker/worker.py
  workers/metric_status_worker/metric_status_worker/runtime.py
  workers/metric_status_worker/metric_status_worker/worker.py
  workers/pull_request_worker/pull_request_worker/runtime.py
  workers/pull_request_worker/pull_request_worker/worker.py
  workers/repo_info_worker/repo_info_worker/runtime.py
  workers/repo_info_worker/repo_info_worker/worker.py
  workers/template_worker/template_worker/runtime.py
  workers/value_worker/value_worker/runtime.py
  workers/value_worker/value_worker/worker.py
  workers/worker_base.py
Labels: backend, frontend, workers

#745 Adding platform column to Augur tokens table
  schema/create_schema.sql
  schema/generate/17-schema_update_19.sql
Labels: database

#752 Merging Dev Into Test for Another RUn
  augur/cli/configure.py
  augur/housekeeper/housekeeper.py
  docs/source/getting-started/installation.rst
  frontend/src/AugurAPI-neko.ts
  frontend/src/AugurAPI-newtwittertest.ts
  frontend/src/AugurAPI.tx.twitter-red
  schema/create_schema.sql
  schema/generate/17-schema_update_19.sql
  scripts/install/config.sh
  workers/contributor_worker/contributor_worker/runtime.py
  workers/contributor_worker/contributor_worker/worker.py
  workers/facade_worker/facade_worker/facade07rebuildcache.py
  workers/facade_worker/facade_worker/runtime.py
  workers/github_worker/github_worker/runtime.py
  workers/github_worker/github_worker/worker.py
  workers/insight_worker/insight_worker/runtime.py
  workers/insight_worker/insight_worker/worker.py
  workers/linux_badge_worker/linux_badge_worker/runtime.py
  workers/linux_badge_worker/linux_badge_worker/worker.py
  workers/metric_status_worker/metric_status_worker/runtime.py
  workers/metric_status_worker/metric_status_worker/worker.py
  workers/pull_request_worker/pull_request_worker/runtime.py
  workers/pull_request_worker/pull_request_worker/worker.py
  workers/repo_info_worker/repo_info_worker/runtime.py
  workers/repo_info_worker/repo_info_worker/worker.py
  workers/standard_methods.py
  workers/template_worker/template_worker/runtime.py
  workers/value_worker/value_worker/runtime.py
  workers/value_worker/value_worker/worker.py
  workers/worker_base.py
Labels: CLI, backend, database, documentation, frontend, installation, workers

#758 Dev
  workers/facade_worker/facade_worker/runtime.py
Labels: workers

#763 frontend changes and facade update
  .gitignore
  frontend/src/assets/Chaoss-Definition-Logo.png
  frontend/src/assets/avatars/0.jpg
  frontend/src/assets/avatars/1.jpg
  frontend/src/assets/avatars/2.jpg
  frontend/src/assets/avatars/3.jpg
  frontend/src/assets/content-management/1.jpeg
  frontend/src/assets/content-management/10.jpeg
  frontend/src/assets/content-management/11.jpeg
  frontend/src/assets/content-management/12.jpeg
  frontend/src/assets/content-management/13.jpeg
  frontend/src/assets/content-management/14.jpeg
  frontend/src/assets/content-management/15.jpeg
  frontend/src/assets/content-management/16.jpeg
  frontend/src/assets/content-management/2.jpeg
  frontend/src/assets/content-management/3.jpeg
  frontend/src/assets/content-management/4.jpeg
  frontend/src/assets/content-management/5.jpeg
  frontend/src/assets/content-management/6.jpeg
  frontend/src/assets/content-management/7.jpeg
  frontend/src/assets/content-management/8.jpeg
  frontend/src/assets/content-management/9.jpeg
  frontend/src/assets/shards-dashboards-logo.svg
  frontend/src/components/charts/BubbleChart.vue
  frontend/src/components/charts/BusFactor.vue
  frontend/src/components/charts/CiiTable.vue
  frontend/src/components/charts/CommitChart.vue
  frontend/src/components/charts/CountBlock.vue
  frontend/src/components/charts/CoverageCard.vue
  frontend/src/components/charts/DependencyOverview.vue
  frontend/src/components/charts/DirectionalTimeChart.vue
  frontend/src/components/charts/DownloadCard.vue
  frontend/src/components/charts/DualAxisContributions.vue
  frontend/src/components/charts/DualLineChart.vue
  frontend/src/components/charts/DynamicLineChart.vue
  frontend/src/components/charts/EmptyChart.vue
  frontend/src/components/charts/GroupedBarChart.vue
  frontend/src/components/charts/HorizontalBarChart.vue
  frontend/src/components/charts/InsightChart.vue
  frontend/src/components/charts/IssueChart.vue
  frontend/src/components/charts/LicenseTable.vue
  frontend/src/components/charts/SkeletonChart.vue
  notebooks/Nodira-Ibrogimova-text-classification.ipynb
  workers/facade_worker/facade_worker/facade00mainprogram.py
  workers/facade_worker/facade_worker/runtime.py
  workers/standard_methods.py
  workers/tests/test_standard_methods.py
Labels: frontend

#765 actually fix the nat contributor problem this time
  workers/contributor_worker/contributor_worker/worker.py
Labels: workers

#766 Dev to test.
  .gitignore
  frontend/src/assets/Chaoss-Definition-Logo.png
  frontend/src/assets/avatars/0.jpg
  frontend/src/assets/avatars/1.jpg
  frontend/src/assets/avatars/2.jpg
  frontend/src/assets/avatars/3.jpg
  frontend/src/assets/content-management/1.jpeg
  frontend/src/assets/content-management/10.jpeg
  frontend/src/assets/content-management/11.jpeg
  frontend/src/assets/content-management/12.jpeg
  frontend/src/assets/content-management/13.jpeg
  frontend/src/assets/content-management/14.jpeg
  frontend/src/assets/content-management/15.jpeg
  frontend/src/assets/content-management/16.jpeg
  frontend/src/assets/content-management/2.jpeg
  frontend/src/assets/content-management/3.jpeg
  frontend/src/assets/content-management/4.jpeg
  frontend/src/assets/content-management/5.jpeg
  frontend/src/assets/content-management/6.jpeg
  frontend/src/assets/content-management/7.jpeg
  frontend/src/assets/content-management/8.jpeg
  frontend/src/assets/content-management/9.jpeg
  frontend/src/assets/shards-dashboards-logo.svg
  frontend/src/components/charts/BubbleChart.vue
  frontend/src/components/charts/BusFactor.vue
  frontend/src/components/charts/CiiTable.vue
  frontend/src/components/charts/CommitChart.vue
  frontend/src/components/charts/CountBlock.vue
  frontend/src/components/charts/CoverageCard.vue
  frontend/src/components/charts/DependencyOverview.vue
  frontend/src/components/charts/DirectionalTimeChart.vue
  frontend/src/components/charts/DownloadCard.vue
  frontend/src/components/charts/DualAxisContributions.vue
  frontend/src/components/charts/DualLineChart.vue
  frontend/src/components/charts/DynamicLineChart.vue
  frontend/src/components/charts/EmptyChart.vue
  frontend/src/components/charts/GroupedBarChart.vue
  frontend/src/components/charts/HorizontalBarChart.vue
  frontend/src/components/charts/InsightChart.vue
  frontend/src/components/charts/IssueChart.vue
  frontend/src/components/charts/LicenseTable.vue
  frontend/src/components/charts/SkeletonChart.vue
  notebooks/Nodira-Ibrogimova-text-classification.ipynb
  workers/contributor_worker/contributor_worker/worker.py
  workers/facade_worker/facade_worker/facade00mainprogram.py
  workers/facade_worker/facade_worker/runtime.py
  workers/standard_methods.py
  workers/tests/test_standard_methods.py
Labels: frontend

#746 feat: Gitlab Issues Worker & Worker Base Refactoring - Gitlab
  augur/cli/configure.py
  frontend/package-lock.json
  frontend/package.json
  workers/github_worker/github_worker.py
  workers/gitlab_issues_worker/LICENSE
  workers/gitlab_issues_worker/__init__.py
  workers/gitlab_issues_worker/gitlab_issues_worker.py
  workers/gitlab_issues_worker/runtime.py
  workers/gitlab_issues_worker/setup.py
  workers/worker_base.py
Labels: GSoC 2020, gitlab-worker, workers

#783 Update documentation
  augur/cli/__init__.py
  augur/cli/configure.py
  augur/cli/run.py
  augur/cli/util.py
  augur/config.py
  augur/logging.py
  docs/source/conf.py
  docs/source/development-guide/documentation.rst
  docs/source/development-guide/installation.rst
  docs/source/development-guide/logging.rst
  docs/source/development-guide/toc.rst
  docs/source/getting-started/collecting-data.rst
  docs/source/getting-started/command-line-interface/configure.rst
  docs/source/getting-started/command-line-interface/db.rst
  docs/source/getting-started/command-line-interface/logging.rst
  docs/source/getting-started/command-line-interface/run.rst
  docs/source/getting-started/command-line-interface/toc.rst
  docs/source/getting-started/command-line-interface/util.rst
  docs/source/getting-started/database.rst
  docs/source/getting-started/installation.rst
  docs/source/getting-started/toc.rst
  metadata.py
  workers/contributor_worker/contributor_worker.py
  workers/contributor_worker/setup.py
  workers/facade_worker/facade_worker/facade00mainprogram.py
  workers/facade_worker/facade_worker/facade01config.py
  workers/facade_worker/setup.py
  workers/github_worker/github_worker.py
  workers/github_worker/setup.py
  workers/insight_worker/insight_worker.py
  workers/insight_worker/setup.py
  workers/linux_badge_worker/linux_badge_worker.py
  workers/linux_badge_worker/setup.py
  workers/pull_request_worker/pull_request_worker.py
  workers/pull_request_worker/setup.py
  workers/release_worker/release_worker.py
  workers/release_worker/setup.py
  workers/repo_info_worker/repo_info_worker.py
  workers/repo_info_worker/setup.py
  workers/value_worker/setup.py
  workers/value_worker/value_worker.py
Labels: documentation

#753 Added Gitlab Authorization, changed task status registration methods & added gitlab contributor querying method in base worker class
  augur/config.py
  workers/worker_base.py
Labels: GSoC 2020, gitlab-worker

#790 Gitlab Issues Worker - Phase 2 - Implementation for Remaining Models
  workers/gitlab_issues_worker/gitlab_issues_worker.py
  workers/worker_base.py
Labels: GSoC 2020, gitlab-worker

#789 Merge Request Worker
  workers/gitlab_merge_request_worker/gitlab_merge_request_worker.py
  workers/gitlab_merge_request_worker/runtime.py
  workers/gitlab_merge_request_worker/setup.py
  workers/worker_base.py
Labels: GSoC 2020, gitlab-worker, merge-request-worker
