Repository chaoss/augur, pull requests merged in 2020-05, with the labels that each got.

#703 Andrew
  augur/metrics/pull_request/pull_request.py
  augur/metrics/pull_request/routes.py
Labels: backend, metric

#706 Add v17 update script to schema creation script
  schema/create_schema.sql
Labels: database

#707 Dev
  augur/metrics/pull_request/pull_request.py
  augur/metrics/pull_request/routes.py
  augur/metrics/util/routes.py
  augur/metrics/util/util.py
  schema/create_schema.sql
  schema/generate/15-schema_update_17.sql
  workers/contributor_worker/contributor_worker/worker.py
  workers/repo_info_worker/repo_info_worker/worker.py
Labels: backend, database, metric, workers

#722 Revert "Merge branch 'slack-config' into dev"
  .gitignore
  augur/metrics/util/routes.py
  augur/metrics/util/util.py
  docs/source/architecture/schema.png
  docs/source/schema/schema.svg
  frontend/src/layouts/AuggieDefault.vue
  frontend/src/router.ts
  frontend/src/store/modules/common/actions.ts
  frontend/src/views/Artboard 1.png
  frontend/src/views/Auggie.png
  frontend/src/views/SlackConfig.vue
  frontend/src/views/background-maybe.pdf
  package-lock.json
  setup.py
  slack-config-frontend/.gitignore
  slack-config-frontend/README.md
  slack-config-frontend/babel.config.js
  slack-config-frontend/package-lock.json
  slack-config-frontend/package.json
  slack-config-frontend/public/favicon.ico
  slack-config-frontend/public/index.html
  slack-config-frontend/src/App.vue
  slack-config-frontend/src/assets/auggie.png
  slack-config-frontend/src/assets/logo.png
  slack-config-frontend/src/components/Auth.vue
  slack-config-frontend/src/components/BaseComponents/AugButton.vue
  slack-config-frontend/src/components/BaseComponents/AugCheckbox.vue
  slack-config-frontend/src/components/BaseComponents/AugSpinner.vue
  slack-config-frontend/src/components/BaseComponents/AugTextInput.vue
  slack-config-frontend/src/components/DraggableColumns.vue
  slack-config-frontend/src/components/HelloWorld.vue
  slack-config-frontend/src/components/Repo.vue
  slack-config-frontend/src/components/SlackConfig.vue
  slack-config-frontend/src/components/SlackLogin.vue
  slack-config-frontend/src/components/TrackingOptions.vue
  slack-config-frontend/src/main.js
  slack-config-frontend/src/router/index.js
  slack-config-frontend/src/views/About.vue
  slack-config-frontend/src/views/Home.vue
Labels: backend, documentation, frontend, metric

#728 Hotfix-dev
  .github/CODEOWNERS
  workers/repo_info_worker/repo_info_worker/runtime.py
Labels: workers

#727 schema update for PR for release versions data.
  schema/create_schema.sql
  schema/generate/16-schema_update_18.sql
Labels: database

#710 Spike out automatic standard route generation
  augur/metrics/insight.py
  augur/metrics/metrics.py
  augur/metrics/repo_meta.py
  augur/routes/__init__.py
  augur/routes/metrics/commit.py
  augur/routes/metrics/contributor.py
  augur/routes/metrics/experimental.py
  augur/routes/metrics/insight.py
  augur/routes/metrics/issue.py
  augur/routes/metrics/message.py
  augur/routes/metrics/platform.py
  augur/routes/metrics/pull_request.py
  augur/routes/metrics/repo_meta.py
  augur/routes/nonstandard_metrics.py
  augur/routes/util.py
  augur/server.py
  augur/util.py
Labels: backend, metric

#732 updating my personal branch.
  augur/metrics/insight.py
  augur/metrics/metrics.py
  augur/metrics/release.py
  augur/metrics/repo_meta.py
  augur/routes/__init__.py
  augur/routes/metrics/commit.py
  augur/routes/metrics/contributor.py
  augur/routes/metrics/experimental.py
  augur/routes/metrics/insight.py
  augur/routes/metrics/issue.py
  augur/routes/metrics/message.py
  augur/routes/metrics/platform.py
  augur/routes/metrics/pull_request.py
  augur/routes/metrics/release.py
  augur/routes/metrics/repo_meta.py
  augur/routes/nonstandard_metrics.py
  augur/routes/util.py
  augur/server.py
  augur/util.py
  docs/source/rest-api/spec.yml
  workers/release_worker/LICENSE
  workers/release_worker/release_worker/__init__.py
  workers/release_worker/release_worker/runtime.py
  workers/release_worker/release_worker/worker.py
  workers/release_worker/setup.py
Labels: backend, documentation, metric, workers

#735 Updating the testing branch from DEV
  README.md
  augur/metrics/insight.py
  augur/metrics/metrics.py
  augur/metrics/release.py
  augur/metrics/repo_meta.py
  augur/routes/__init__.py
  augur/routes/metrics/commit.py
  augur/routes/metrics/contributor.py
  augur/routes/metrics/experimental.py
  augur/routes/metrics/insight.py
  augur/routes/metrics/issue.py
  augur/routes/metrics/message.py
  augur/routes/metrics/platform.py
  augur/routes/metrics/pull_request.py
  augur/routes/metrics/release.py
  augur/routes/metrics/repo_meta.py
  augur/routes/nonstandard_metrics.py
  augur/routes/util.py
  augur/server.py
  augur/util.py
  docs/source/rest-api/spec.yml
  schema/create_schema.sql
  schema/generate/16-schema_update_18.sql
  workers/release_worker/LICENSE
  workers/release_worker/release_worker/__init__.py
  workers/release_worker/release_worker/runtime.py
  workers/release_worker/release_worker/worker.py
  workers/release_worker/setup.py
  workers/repo_info_worker/repo_info_worker/worker.py
Labels: backend, database, documentation, metric, workers
