Repository chaoss/augur, pull requests merged in 2020-08, with the labels that each got.

#848 Gitlab Worker Integration Testing
  augur/config.py
  augur/repos.csv
  repos.csv
  tests/test_workers/test_gitlab_worker.py
  workers/github_worker/github_worker.py
  workers/gitlab_issues_worker/gitlab_issues_worker.py
Labels: GSoC 2020, gitlab-worker

#876 fix: Issues Worker models readdition
  workers/gitlab_issues_worker/gitlab_issues_worker.py
Labels: GSoC 2020, gitlab-worker

#883 Pull Request Analysis Worker
  augur/config.py
  docs/source/development-guide/workers/pull_request_analysis_worker.rst
  messages-notebooks/PR_qualitative_analysis.ipynb
  tests/test_workers/test_pull_request_analysis_worker.py
  workers/pull_request_analysis_worker/__init__.py
  workers/pull_request_analysis_worker/pull_request_analysis_worker.py
  workers/pull_request_analysis_worker/runtime.py
  workers/pull_request_analysis_worker/setup.py
  workers/pull_request_analysis_worker/trained_pr_model.pkl
Labels: GSoC 2020, workers

#872 Message Insights worker - Tests & Documentation
  docs/source/development-guide/workers/message_insights_worker.rst
  docs/source/getting-started/collecting-data.rst
  messages-notebooks/PR qualitative analysis.ipynb
  tests/test_workers/test_message_insights_worker.py
  workers/message_insights_worker/message_insights_worker.py
  workers/message_insights_worker/message_novelty.py
  workers/message_insights_worker/message_sentiment.py
  workers/message_insights_worker/setup.py
Labels: GSoC 2020

#895 Update release worker
  augur/metrics/release.py
  workers/release_worker/release_worker.py
Labels: enhancement, workers
