Repository chaoss/augur, pull requests merged in 2020-02, with the labels that each got.

#550 Removed Typo from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#552 manager
  augur/routes/__init__.py
  augur/routes/manager.py
Labels: API Request, backend, enhancement

#556 Added PR metric - Closed PRs which weren't merged
  augur/metrics/pull_request/pull_request.py
  augur/metrics/pull_request/routes.py
Labels: GSoC 2020

#560 Microtasks: Added Gitlab API script for augur
  data.json
  workers/mrsaicharan1/gitlab_api_script.py
Labels: GSoC 2020

#566 [feat] Microtask 0, 1, 2 completed
  workers/KIRA009/data_rest.json
  workers/KIRA009/gitlab_rest.py
Labels: GSoC 2020
