Repository chaoss/augur, pull requests merged in 2020-10, with the labels that each got.

#941 Implement prototype worker status & collection status API routes
  augur/application.py
  augur/cli/run.py
  augur/logging.py
  augur/metrics/__init__.py
  augur/routes/broker.py
  augur/routes/collection_status.py
  workers/facade_worker/facade_worker/facade01config.py
  workers/facade_worker/facade_worker/facade06analyze.py
  workers/util.py
  workers/worker_base.py
Labels: API, database, workers

#940 Update docs landing page
  docs/source/index.rst
  docs/source/library-documentation/toc.rst
Labels: documentation

#935 git.sh script is needed for large collections (500+ repos) to accomod…
  scripts/install/git.sh
Labels: installation, server

#949 Restructure maintainer & contributor list
  docs/source/index.rst
Labels: CHAOSS, documentation

#950 Enhancments to Augur's CLI
  .travis.yml
  Makefile
  augur/cli/_multicommand.py
  augur/cli/backend.py
  augur/cli/config.py
  augur/cli/db.py
  augur/cli/util.py
  augur/gunicorn.py
  augur/routes/broker.py
  conftest.py
  scripts/control/start_augur.sh
  scripts/install/config.sh
  tests/test_routes/runner.py
  tests/test_routes/test_util_routes.py
  util/docker/backend/Dockerfile
Labels: CLI

#954 Update version to 0.14.0
  metadata.py
Labels: admin

#959 Update CLI documentation
  Makefile
  README.md
  augur/cli/backend.py
  docs/source/deployment/nginx-configuration.rst
  docs/source/getting-started/collecting-data.rst
  docs/source/getting-started/command-line-interface/backend.rst
  docs/source/getting-started/command-line-interface/config.rst
  docs/source/getting-started/command-line-interface/toc.rst
  docs/source/getting-started/command-line-interface/util.rst
  docs/source/getting-started/installation.rst
Labels: documentation

#938 SPDX Schema Update
  schema/create_schema.sql
  schema/generate/25-schema_update_27.sql
  schema/generate/26-schema_update_28.sql
Labels: database, server

#960 Update test data image
  .travis.yml
  Makefile
  tests/test_metrics/test_issue_metrics.py
Labels: database, testing

#978 Contributor patch
  .gitignore
  CONTRIBUTING.md
  README.md
  augur/config.py
  docs/source/development-guide/workers/toc.rst
  docs/source/getting-started/collecting-data.rst
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/charts/CoverageCard.vue
  notebooks/Nodira-Ibrogimova-text-classification.ipynb
  notebooks/Scikit Learn - Isolation Forest.ipynb
  schema/20201025-Release-0.14.0.sql
  schema/20201025-Release-0.14.0.svg
  schema/create_schema.sql
  schema/generate/05-seed_data.sql
  schema/generate/26-schema_update_28.sql
  schema/generate/27-schema_update_29.sql
  schema/generate/28-schema_update_30.sql
  setup.py
  tests/test_workers/test_gitlab_worker.py
  workers/contributor_worker/contributor_worker.py
  workers/github_worker/github_worker.py
  workers/gitlab_issues_worker/gitlab_issues_worker.py
  workers/util.py
  workers/worker_base.py
Labels: CHAOSS, database, feature-request, frontend, good first issue, installation, server, testing, usability
