Repository chaoss/augur, pull requests merged in 2020-07, with the labels that each got.

#835 Updating package-lock.json and package.json to what is current on the…
  Makefile
  frontend/package-lock.json
  frontend/package.json
  scripts/control/start_augur.sh
  scripts/control/start_frontend.sh
  workers/facade_worker/facade_worker/facade01config.py
  workers/facade_worker/facade_worker/facade06analyze.py
Labels: frontend

#842 Moved config test location to util - Fixes GSoC Dev Build
  augur/config.py
  tests/test_helpers.py
  util/test.config.json
Labels: critical

#864 Implemented Insight_Worker for time_series_metrics
  frontend/package-lock.json
  setup.py
  time_series_notebook/Distribution and model results analysis on individual data_fields.ipynb
  time_series_notebook/Insight_new-issues.ipynb
  time_series_notebook/Insight_reviews.ipynb
  time_series_notebook/STL_decomposition.ipynb
  time_series_notebook/code-changes-lines _ added.csv
  time_series_notebook/code-changes-lines _ removed.csv
  time_series_notebook/data_analysis.ipynb
  time_series_notebook/insight_model_LSTM.ipynb
  time_series_notebook/issues-new _ issues.csv
  time_series_notebook/repo_new-issues_cluster.ipynb
  time_series_notebook/repo_reviews_cluster.ipynb
  time_series_notebook/reviews _ pull_requests.csv
  workers/insight_worker/insight_worker.py
  workers/insight_worker/setup.py
Labels: GSoC 2020
