Repository chaoss/augur, pull requests merged in 2020-11, with the labels that each got.

#985 Fix frontend config file location issue
  .gitignore
  augur/cli/config.py
  docs/source/getting-started/collecting-data.rst
  docs/source/getting-started/frontend.rst
  docs/source/getting-started/toc.rst
  frontend/src/router.ts
  scripts/install/config.sh
  util/docker/backend/Dockerfile
  util/docker/backend/backend.docker.config.json
  util/docker/frontend/Dockerfile
  util/docker/frontend/frontend.docker.config.json
Labels: bug, frontend

#1000 Update frontend config file location
  augurface/src/store/UtilModule.js
  frontend/src/store/modules/common/index.ts
  frontend/src/store/modules/compare/index.ts
  util/docker/frontend/Dockerfile
Labels: bug-fix, docker

#1001 Remove incorrect @staticmethod on check_duplicates
  workers/worker_base.py
Labels: bug-fix, workers

#1012 Fixes issues caused by GraphQL error Message Change on GitHub
  workers/pull_request_worker/pull_request_worker.py
Labels: critical-fix, workers

#1013 Update for pull_request_analysis table, which predicts the likelihood…
  schema/20201111-Release-0.14.1.pdf
  schema/20201111-Release-0.14.1.svg
  schema/create_schema.sql
  schema/generate/30-schema_update_32.sql
  schema/generate/31-schema_update_33.sql
Labels: database, workers

#977 Add logs error parsing
  augur/cli/backend.py
  docs/source/getting-started/command-line-interface/backend.rst
  docs/source/getting-started/installation.rst
  log_analysis/http/empty_index.html
  log_analysis/http/http_server.py
  log_analysis/http/index.html
  log_analysis/logstash-filter.conf
  log_analysis/patterns/error_detectors
Labels: CLI, Hacktoberfest 2020, feature-request, good first issue
