Repository chaoss/augur, pull requests merged in 2020-03, with the labels that each got.

#548 Containerize Augur
  .dockerignore
  .gitignore
  Makefile
  augur/application.py
  augur/cli/configure.py
  augur/cli/db.py
  augur/cli/run.py
  augur/cli/util.py
  augur/default.config.json
  augur/housekeeper/housekeeper.py
  augur/metrics/contributor/routes.py
  augur/routes/__init__.py
  augur/routes/manager.py
  database-compose.yml
  docker-compose.yml
  docs/apidoc.json
  docs/source/docker-install.rst
  frontend/package-lock.json
  package-lock.json
  persistence_schema/0-all.sql
  persistence_schema/generate/6-schema_update_8.sql
  persistence_schema/generate/make_schema.sh
  repo_group_load_sample.csv
  repo_load_sample.csv
  test/metrics/test_repo_meta_metrics.py
  util/packaging/docker/.dockerignore
  util/packaging/docker/augur/Dockerfile
  util/packaging/docker/augur/prestart.sh
  util/packaging/docker/database/Dockerfile
  util/packaging/docker/docker.config.json
  util/packaging/docker/frontend/Dockerfile
  util/packaging/docker/frontend/frontend.config.json
  util/packaging/docker/frontend/nginx.conf
  util/scripts/control/augur.sh
  util/scripts/control/augurkill.sh
  util/scripts/control/collect.sh
  util/scripts/control/run.sh
  util/scripts/control/status.sh
  util/scripts/install/backend.sh
  util/scripts/install/rebuild.sh
  util/scripts/install/workers.sh
  workers/facade_worker/facade_worker/facade00mainprogram.py
  workers/facade_worker/facade_worker/facade01config.py
  workers/facade_worker/facade_worker/facade02utilitymethods.py
  workers/facade_worker/facade_worker/facade03analyzecommit.py
  workers/facade_worker/facade_worker/facade04postanalysiscleanup.py
  workers/facade_worker/facade_worker/facade05repofetch.py
  workers/facade_worker/facade_worker/runtime.py
  workers/github_worker/github_worker/runtime.py
  workers/insight_worker/insight_worker/runtime.py
  workers/linux_badge_worker/linux_badge_worker/runtime.py
  workers/linux_badge_worker/linux_badge_worker/worker.py
  workers/metric_status_worker/metric_status_worker/runtime.py
  workers/metric_status_worker/metric_status_worker/worker.py
  workers/pull_request_worker/pull_request_worker/runtime.py
  workers/repo_info_worker/repo_info_worker/runtime.py
  workers/standard_methods.py
  workers/value_worker/value_worker/runtime.py
  workers/value_worker/value_worker/worker.py
Labels: backend, enhancement, python, workers

#573 Fixed Metrics & Tests for PR-closed-no-merge
  augur/metrics/pull_request/pull_request.py
  augur/metrics/pull_request/routes.py
  test/api/test_pull_request_routes.py
  test/metrics/test_pull_request_metrics.py
Labels: GSoC 2020, bug, metric

#577 Remove stdout redirect from DB setup script
  scripts/install/install.sh
  scripts/install/setup_db.sh
Labels: bug, installation

#587 Integrate augurface
  .gitignore
  augur/routes/manager.py
  augurface/DevTodo.txt
  augurface/package.json
  augurface/src/App.vue
  augurface/src/assets/loading.gif
  augurface/src/components/BaseComponents/AugMenuDropdown.vue
  augurface/src/components/BaseComponents/AugTextArea.vue
  augurface/src/components/BaseComponents/AugTextInput.vue
  augurface/src/components/Dashboard/AboutAugur/AboutAugur.vue
  augurface/src/components/Dashboard/AnalyzeRepos/AnalyzeRepos.vue
  augurface/src/components/Dashboard/Dashboard.vue
  augurface/src/components/Dashboard/ManageRepos/ManageButtons.vue
  augurface/src/components/Dashboard/ManageRepos/ManageRepos.vue
  augurface/src/components/Dashboard/ManageRepos/repoGroup/Repo.vue
  augurface/src/components/Dashboard/ManageRepos/repoGroup/RepoGroup.vue
  augurface/src/components/Dashboard/ManageRepos/repoGroup/RepoGroupContent.vue
  augurface/src/components/Dashboard/ManageRepos/repoGroup/RepoGroupHeader.vue
  augurface/src/components/Dashboard/ManageRepos/repoGroup/RepoList.vue
  augurface/src/components/Dashboard/dashboardHeader/DashboardHeader.vue
  augurface/src/components/Login/LoginCard.vue
  augurface/src/main.js
  augurface/src/router/index.js
  augurface/src/store/ReposModule.js
  augurface/src/store/UtilModule.js
  augurface/vue.config.js
  util/docker/frontend/Dockerfile
  util/docker/frontend/nginx.conf
Labels: frontend

#594 Stabilization
  Makefile
  augur/cli/configure.py
  augur/cli/util.py
  augur/server.py
  database-compose.yml
  docker-compose.yml
  schema/generate/5-seed-data.sql
  scripts/control/kill.sh
  scripts/control/processes.sh
  scripts/control/status.sh
  util/docker/backend/Dockerfile
  util/docker/backend/install_packages.sh
  util/docker/database/Dockerfile
  util/docker/testing-database/Dockerfile
  workers/facade_worker/facade_worker/facade01config.py
  workers/facade_worker/facade_worker/facade03analyzecommit.py
  workers/facade_worker/facade_worker/runtime.py
  workers/github_worker/github_worker/runtime.py
  workers/insight_worker/insight_worker/runtime.py
  workers/insight_worker/insight_worker/worker.py
  workers/linux_badge_worker/linux_badge_worker/runtime.py
  workers/metric_status_worker/metric_status_worker/runtime.py
  workers/pull_request_worker/pull_request_worker/runtime.py
  workers/repo_info_worker/repo_info_worker/runtime.py
  workers/value_worker/value_worker/runtime.py
Labels: backend, bug, docker, workers

#599 Move CLI shell scripts to Python library
  Makefile
  augur/cli/scripts/export_dependencies.sh
  augur/cli/scripts/kill_processes.sh
  augur/cli/scripts/list_processes.sh
  augur/cli/scripts/status.sh
  augur/cli/util.py
  scripts/control/augur.sh
  scripts/control/collect.sh
  scripts/control/kill_frontend.sh
  scripts/control/killinsightworker.sh
  scripts/control/start_augur.sh
  scripts/control/start_frontend.sh
  scripts/install/api_docs.sh
Labels: backend

#602 Docker updates
  .github/CODEOWNERS
  Makefile
  database-compose.yml
  scripts/control/rebuild.sh
  scripts/install/workers.sh
  util/docker/frontend/Dockerfile
  util/docker/frontend/nginx.conf
Labels: docker

#603 Refactor augur process control commands
  Makefile
  augur/cli/run.py
  augur/cli/scripts/kill_processes.sh
  augur/cli/scripts/list_processes.sh
  augur/cli/util.py
  scripts/control/export_dependencies.sh
  scripts/control/status.sh
  scripts/install/install.sh
  setup.py
  test/api/runner.py
Labels: backend

#604 Add gcc and python3-dev to Docker for psutils
  util/docker/backend/install_packages.sh
Labels: docker

#596 Added unit tests for Standard Worker Methods
  workers/linux_badge_worker/linux_badge_worker/worker.py
  workers/metric_status_worker/metric_status_worker/worker.py
  workers/standard_methods.py
  workers/tests/test_standard_methods.py
  workers/value_worker/value_worker/worker.py
Labels: enhancement, workers

#593 Implemented clustering based methods and Isolation Forest for anomaly detection in the messages sample dataset from augur.
  augur/routes/manager.py
  notebooks/Manan-AnomalyDetection.ipynb
Labels: GSoC 2020, metric

#610 Update Travis build to use test data Docker image
  .travis.yml
  Makefile
  augur/metrics/repo_meta/repo_meta.py
  test/api/runner.py
  test/api/test_commit_routes.py
  test/api/test_contributor_routes.py
  test/api/test_issue_routes.py
  test/api/test_pull_request_routes.py
  test/api/test_repo_meta_routes.py
  test/api/test_util_routes.py
  test/metrics/test_commit_metrics.py
  test/metrics/test_contributor_metrics.py
  test/metrics/test_issue_metrics.py
  test/metrics/test_pull_request_metrics.py
  test/metrics/test_repo_meta_metrics.py
  test/metrics/test_util_metrics.py
  workers/standard_methods.py
Labels: NDE, testing

#612 Add database versioning control Augur's CLI
  augur/cli/db.py
  schema/create_schema.sql
  schema/generate/05-seed_data.sql
  schema/generate/09-schema_update_11.sql
  schema/generate/10-schema_update_12.sql
Labels: CLI, database

#634 Fix process control commands incorrect process discovery
  augur/cli/util.py
Labels: backend, bug, critical, deployed version

#639 Fixed broken links, added details and images to documentation
  docs/source/schema/data-model.rst
  docs/source/schema/schema.png
  docs/source/schema/schema.svg
Labels: database, documentation

#627 GSOC & Outreachy SSO Microtasks #557
  frontend/src/router.ts
  frontend/src/views/login.vue
  frontend/src/views/secure.vue
Labels: GSoC 2020

#641 Update docs
  docs/source/docker/docker.rst
  docs/source/docker/toc.rst
  docs/source/docker/usage.rst
  docs/source/getting-started/database.rst
  docs/source/getting-started/installation.rst
Labels: documentation

#644 Stability enhancments
  augur/cli/configure.py
  augur/cli/db.py
  augur/data/companies.csv
  augur/data/name_gender.csv
  data.json
  schema/new-augur.0.1.0.0.pdf
  schema/new-augur.0.1.0.0.png
  scripts/install/spdx/install-spdx-sudo.sh
  scripts/install/spdx/install-spdx.sh
  scripts/install/spdx/nomos.sh
  scripts/install/spdx/schema_update_spdx.sql
  workers/github_worker/github_worker/worker.py
Labels: CLI, bug, workers

#645 Finished gsoc augur's microtasks
  workers/IIZODIACII/__init__.py
  workers/IIZODIACII/migrations/README
  workers/IIZODIACII/migrations/alembic.ini
  workers/IIZODIACII/migrations/env.py
  workers/IIZODIACII/migrations/script.py.mako
  workers/IIZODIACII/migrations/versions/12d347e3a09e_.py
  workers/IIZODIACII/migrations/versions/2ced44bb51b4_.py
  workers/IIZODIACII/models.py
Labels: GSoC 2020

#650 Remove GSoC submissions from dev branch
  notebooks/Akshara-Anomaly Detection.ipynb
  notebooks/Chaoss_Issue_Events_Data_Analysis.ipynb
  notebooks/Manan-AnomalyDetection.ipynb
  notebooks/Pratik-Anomaly Detection on weekly_repo_data_metrics.ipynb
  workers/KIRA009/data_rest.json
  workers/KIRA009/gitlab_rest.py
  workers/abhinavbajpai2012/constants.py
  workers/abhinavbajpai2012/utils.py
  workers/abhinavbajpai2012/worker.py
  workers/mrsaicharan1/gitlab_api_script.py
Labels: GSoC 2020

#658 Refactor value worker
  workers/value_worker/value_worker/__init__.py
  workers/value_worker/value_worker/runtime.py
  workers/value_worker/value_worker/worker.py
Labels: bug, critical, deployed version, workers

#661 Update default configuration values
  augur/cli/configure.py
  scripts/install/setup_db.sh
Labels: workers

#649 used isolation forest model for anomaly detection
  README.md
  frontend/package-lock.json
  notebooks/Isha-AnomalyDetection.ipynb
  notebooks/ishagarg06_Anomaly_detection.ipynb
Labels: GSoC 2020

#651 Added new metric for issues with comments
  augur/metrics/issue/issue.py
  augur/metrics/issue/routes.py
  test/api/test_issue_routes.py
  test/metrics/test_issue_metrics.py
Labels: metric

#643 Fix data collection link
  README.md
Labels: deployed version, documentation
