Repository chaoss/augur, pull requests merged in 2022-08, with the labels that each got.

#1936 schema patch
  schema/generate/105-schema_update_107.sql
Labels: database

#1940 Performance Update for Repository Listing API Endpoint.
  augur/routes/util.py
  schema/create_schema.sql
  schema/generate/106-schema_update_108.sql
Labels: API, frontend, bug-fix, critical-fix

#1939 Fix the augurface container
  util/docker/augurface/Dockerfile
  util/docker/augurface/nginx.conf
Labels: frontend

#1961 Implement augur routine
  augur/tasks/start_tasks.py
Labels: release

#1959 Augur new commands
  augur/application/cli/backend.py
  augur/application/cli/celery.py
  augur/application/cli/redis.py
  augur/application/db/engine.py
  augur/tasks/init/celery_app.py
Labels: release

#1960 Augur new andrew
  augur/application/db/models/augur_data.py
  augur/tasks/github/util/github_paginator.py
  tests/test_tasks/test_task_utlities/test_paginators/test_github_paginator.py
Labels: release
