Repository chaoss/augur, pull requests merged in 2022-04, with the labels that each got.

#1733 Message Insights Worker Updates
  .gitignore
  CONTRIBUTING.md
  README.md
  docs/source/quick-start.rst
  metadata.py
  util/docker/frontend/americanpie.md
  workers/message_insights_worker/__init__.py
  workers/message_insights_worker/message_insights_worker.py
  workers/message_insights_worker/message_models/XGB_senti.pkl
  workers/message_insights_worker/message_models/tfidf_vectorizer.pkl
  workers/message_insights_worker/message_novelty.py
  workers/message_insights_worker/message_sentiment.py
  workers/message_insights_worker/preprocess_text.py
  workers/message_insights_worker/runtime.py
  workers/message_insights_worker/setup.py
  workers/pull_request_analysis_worker/setup.py
  workers/worker_git_integration.py
Labels: feature-request, installation, server, security, release, devops

#1542 Documentation of enabling HTTPS for augur server
  docs/source/deployment/nginx-configuration.rst
  frontend/src/AugurAPI.ts
  frontend/src/router.ts
  frontend/src/store/modules/common/index.ts
  frontend/src/store/modules/compare/index.ts
Labels: server, add-feature

#1806 Updating Branch Pre-Release
  .gitignore
  A1.png
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  augur/config.py
  docs/source/A1.png
  docs/source/auggie/auggie-diagram.png
  docs/source/deployment/nginx-configuration.rst
  docs/source/development-guide/documentation.rst
  docs/source/development-guide/images/A1.png
  docs/source/development-guide/images/A10.png
  docs/source/development-guide/images/A11.png
  docs/source/development-guide/images/A12.png
  docs/source/development-guide/images/A13.png
  docs/source/development-guide/images/A14.png
  docs/source/development-guide/images/A2.png
  docs/source/development-guide/images/A3.png
  docs/source/development-guide/images/A4.png
  docs/source/development-guide/images/A5.png
  docs/source/development-guide/images/A6.png
  docs/source/development-guide/images/A7.png
  docs/source/development-guide/images/A8.png
  docs/source/development-guide/images/A9.png
  docs/source/development-guide/images/Aa.jpeg
  docs/source/development-guide/images/Aa.png
  docs/source/development-guide/images/Ab.jpeg
  docs/source/development-guide/images/Ab.png
  docs/source/development-guide/images/Ac.jpeg
  docs/source/development-guide/images/Ac.png
  docs/source/development-guide/images/Ad.jpeg
  docs/source/development-guide/images/Ad.png
  docs/source/development-guide/images/Ae .png
  docs/source/development-guide/images/Ae.jpeg
  docs/source/development-guide/images/Af.jpeg
  docs/source/development-guide/images/Af.png
  docs/source/development-guide/installation.rst
  docs/source/development-guide/logging.rst
  docs/source/development-guide/make/development.rst
  docs/source/development-guide/make/testing.rst
  docs/source/development-guide/toc.rst
  docs/source/development-guide/workers/clustering_worker.rst
  docs/source/development-guide/workers/toc.rst
  docs/source/docker/docker-compose.rst
  docs/source/docker/docker.rst
  docs/source/docker/getting-started.rst
  docs/source/docker/usage.rst
  docs/source/getting-started/collecting-data.rst
  docs/source/getting-started/frontend.rst
  docs/source/index.html
  docs/source/index.rst
  docs/source/quick-start.rst
Labels: bug, installation, deployed version, CHAOSS, documentation, frontend, database, admin, release, add-feature, dependencies, devops
