Repository chaoss/augur, pull requests merged in 2022-07, with the labels that each got.

#1906 Schema, Dependency Evaluation, and Machine Learning Updates.
  schema/create_schema.sql
  schema/generate/103-schema_update_105.sql
  schema/generate/104-schema_update_106.sql
  scripts/install/workers.sh
Labels: server, database, security, bug-fix

#1908 removed ephemeral user permissions
  schema/generate/103-schema_update_105.sql
Labels: database, bug-fix

#1904 use a fully qualified name for the container
  util/docker/frontend/Dockerfile
Labels: frontend, bug-fix
