Repository chaoss/augur, pull requests merged in 2022-02, with the labels that each got.

#1608 CRITICAL: Tensorflow version casuing installation error
  workers/message_insights_worker/setup.py
Labels: critical-fix

#1614 Updates to Pull Request, Facade, and Contributor Logic
  Makefile
  augur/cli/db.py
  augur/metrics/commit.py
  metadata.py
  tests/test_workers/test_facade/test_facade_contributor_interface/test_endpoints.py
  tests/test_workers/test_facade/test_facade_contributor_interface/test_repo_groups.csv
  tests/test_workers/test_facade/test_facade_contributor_interface/test_repos.csv
  tests/test_workers/test_set_up_fixtures.py
  tests/test_workers/worker_persistance/bad_Data.json
  tests/test_workers/worker_persistance/contributors.json
  tests/test_workers/worker_persistance/contributors_un_enriched.json
  tests/test_workers/worker_persistance/standard_enrich_cntrb_id_data.json
  tests/test_workers/worker_persistance/test_enrich_cntrb_id.py
  tests/test_workers/worker_persistance/test_enrich_data_primary_keys.py
  tests/test_workers/worker_persistance/util_persistance.py
  tox.ini
  util/docker/database/Dockerfile
  workers/facade_worker/contributor_interfaceable/contributor_interface.py
  workers/facade_worker/facade_worker/facade00mainprogram.py
  workers/pull_request_worker/pull_request_worker.py
  workers/worker_git_integration.py
  workers/worker_persistance.py
Labels: server, triage, bug-fix

#1620 Fix Workers Connecting to Broker Twice
  workers/worker_git_integration.py
Labels: workers, bug-fix
