Repository chaoss/augur, pull requests merged in 2022-09, with the labels that each got.

#1974 Fix borked pr
  augur/tasks/github/facade_github/contributor_interfaceable/contributor_interface.py
  augur/tasks/github/facade_github/tasks.py
Labels: server, release, critical-fix, devops

#1976 Remove duplicate data before inserting
  augur/api/routes/user.py
  augur/application/db/session.py
  augur/tasks/github/events/tasks.py
  augur/tasks/github/facade_github/tasks.py
  augur/tasks/github/issues/tasks.py
  augur/tasks/github/messages/tasks.py
  augur/tasks/github/pull_requests/core.py
  augur/tasks/github/pull_requests/tasks.py
  augur/tasks/github/util/util.py
  augur/tasks/util/worker_util.py
Labels: bug-fix

#1983 Updating Go and OSSF Scorecard when already installed patch
  scripts/install/workers.sh
Labels: installation, workers, docker, CLI, release, bug-fix, dependencies, devops

#1988 `augur-new` updates to `augur-new-dev`
  augur/tasks/github/util/github_paginator.py
Labels: bug-fix

#1990 Dev Branch Update for Augur New : `augur-new-dev`
  augur/tasks/github/issues/tasks.py
  augur/tasks/github/messages/tasks.py
  augur/tasks/github/pull_requests/tasks.py
Labels: bug-fix
