Repository chaoss/augur, pull requests merged in 2023-02, with the labels that each got.

#2173 Deprecating Facade Affiliations Processing
  augur/tasks/data_analysis/clustering_worker/tasks.py
  augur/tasks/data_analysis/contributor_breadth_worker/contributor_breadth_worker.py
  augur/tasks/data_analysis/discourse_analysis/tasks.py
  augur/tasks/data_analysis/insight_worker/tasks.py
  augur/tasks/data_analysis/message_insights/tasks.py
  augur/tasks/data_analysis/pull_request_analysis_worker/tasks.py
  augur/tasks/git/facade_tasks.py
  augur/tasks/git/util/facade_worker/facade_worker/__init__.py
  augur/tasks/git/util/facade_worker/facade_worker/facade01config.py
  augur/tasks/git/util/facade_worker/setup.py
  augur/tasks/github/contributors/tasks.py
  augur/tasks/github/detect_move/core.py
  augur/tasks/github/detect_move/tasks.py
  augur/tasks/github/events/tasks.py
  augur/tasks/github/issues/tasks.py
  augur/tasks/github/messages/tasks.py
  augur/tasks/github/pull_requests/commits_model/core.py
  augur/tasks/github/pull_requests/commits_model/tasks.py
  augur/tasks/github/pull_requests/core.py
  augur/tasks/github/pull_requests/files_model/core.py
  augur/tasks/github/pull_requests/files_model/tasks.py
  augur/tasks/github/pull_requests/tasks.py
  augur/tasks/github/releases/core.py
  augur/tasks/github/releases/tasks.py
  augur/tasks/github/repo_info/core.py
  augur/tasks/github/repo_info/tasks.py
  augur/tasks/init/celery_app.py
  augur/tasks/start_tasks.py
Labels: metric, CHAOSS, server, release

#2193 Pr review collection
  augur/application/schema/alembic/versions/8_add_unique_to_pr_reviews.py
  augur/tasks/github/pull_requests/tasks.py
  augur/tasks/init/celery_app.py
  augur/tasks/start_tasks.py
Labels: server, add-feature

#2194 Fix error when using cli to add repos
  augur/application/cli/db.py
Labels: server, CLI, bug-fix

#2202 Re-add the libyear dependency collection
  augur/application/db/models/augur_data.py
  augur/application/schema/alembic/versions/10_unique_constraints_on_dependency_data.py
  augur/tasks/git/dependency_libyear_tasks/__init__.py
  augur/tasks/git/dependency_libyear_tasks/core.py
  augur/tasks/git/dependency_libyear_tasks/libyear_util/__init__.py
  augur/tasks/git/dependency_libyear_tasks/libyear_util/npm_libyear_utils.py
  augur/tasks/git/dependency_libyear_tasks/libyear_util/npm_parser.py
  augur/tasks/git/dependency_libyear_tasks/libyear_util/pypi_libyear_util.py
  augur/tasks/git/dependency_libyear_tasks/libyear_util/pypi_parser.py
  augur/tasks/git/dependency_libyear_tasks/libyear_util/util.py
  augur/tasks/git/dependency_libyear_tasks/tasks.py
  augur/tasks/git/dependency_tasks/core.py
  augur/tasks/git/dependency_tasks/tasks.py
  augur/tasks/init/celery_app.py
  augur/tasks/start_tasks.py
Labels: feature-request, deployed version, API, CHAOSS, server, database, add-feature, devops
