Repository chaoss/augur, pull requests merged in 2023-03, with the labels that each got.

#2210 Change unique constraints on dependency data to reflect changes better
  augur/application/db/models/augur_data.py
  augur/application/schema/alembic/versions/10_unique_constraints_on_dependency_data.py
  augur/tasks/git/dependency_libyear_tasks/core.py
  augur/tasks/git/dependency_tasks/core.py
  augur/tasks/git/facade_tasks.py
  augur/tasks/start_tasks.py
Labels: database, dependencies

#2221 Fix issue with toggling facade in config
  augur/tasks/start_tasks.py
Labels: bug-fix

#2227 Changes working towards quantifying repos by their metrics to not overwhelm collection
  augur/application/cli/backend.py
  augur/tasks/git/dependency_tasks/core.py
  augur/tasks/git/facade_tasks.py
  augur/tasks/git/util/facade_worker/facade_worker/facade05repofetch.py
  augur/tasks/github/facade_github/tasks.py
  augur/tasks/github/issues/tasks.py
  augur/tasks/init/celery_app.py
  augur/tasks/start_tasks.py
  augur/tasks/util/collection_util.py
Labels: add-feature

#2232 Ubuntu 22 and Ubuntu 20 installable Augur
  augur/tasks/data_analysis/clustering_worker/setup.py
  augur/tasks/data_analysis/insight_worker/setup.py
  augur/tasks/data_analysis/message_insights/setup.py
  augur/tasks/data_analysis/pull_request_analysis_worker/setup.py
  docs/8knot.md
  docs/new-install-ubuntu-20.x.md
  docs/new-install-ubuntu-22.x.md
  readthedocs.yml
  setup.py
Labels: feature-request, deployed version, documentation, server, docker, security, release, python, devops

#2241 Add exception handle in dependency analysis to use regex if ast can't be used due to version
  augur/tasks/git/dependency_tasks/dependency_util/python_deps.py
Labels: bug-fix

#2264 Performance updates and misc.
  README.md
  augur/application/cli/backend.py
  augur/application/schema/alembic/versions/13_no_null_commit_contributors.py
  augur/application/schema/alembic/versions/14_commits_auto_vacuum.py
  augur/application/schema/alembic/versions/15_commit_performance_update.py
  augur/tasks/github/facade_github/tasks.py
  augur/tasks/start_tasks.py
  docs/augur-0.5.0.ndm2
  docs/augur-0.5.0.pdf
  docs/augur-0.5.0.svg
  org.md
Labels: add-feature
