Repository chaoss/augur, pull requests merged in 2024-02, with the labels that each got.

#2679 Materialized View Update Updates
  augur/application/schema/alembic/versions/26_materialized_view_unique_updates.py
  augur/tasks/db/refresh_materialized_views.py
  setup.py
Labels: documentation, database, dependencies

#2707 Add GitHub Action to Always Keep Dev up to Date with Main
  .github/workflows/auto_merge.yml
Labels: add-feature, devops

#2712 Fix Script Lacking Identifier for GH Actions
  .github/workflows/auto_merge.yml
Labels: bug-fix

#2723 Disable Method Docstring Requirement for Pylint
  .pylintrc
Labels: devops
