Repository chaoss/augur, pull requests merged in 2025-07, with the labels that each got.

#3216 add podman copy of the E2E test
  .github/workflows/build_docker.yml
Labels: deployed version, docker, devops

#3219 fixing make clean to preserve uv.lock
  scripts/control/clean.sh
Labels: admin, devops

#3223 Removed Files Not Needed
  gsoc-ideas.md
  gsoc-interest.md
  run_http.sh
  schema-updates.sql
  test.md
Labels: admin

#3232 use check_output for git log fetching so that it can fail more easily
  augur/tasks/git/util/facade_worker/facade_worker/analyzecommit.py
Labels: bug-fix

#3235 Fix variable name in _decide_retry_policy
  augur/tasks/github/util/github_data_access.py
Labels: bug-fix
