Repository chaoss/augur, pull requests merged in 2025-06, with the labels that each got.

#3175 Scorecard check Fix for Scorecard Collection
  augur/application/schema/alembic/versions/32_update_openssf_deps.py
  augur/application/schema/alembic/versions/33_update_openssf_deps.py
  augur/tasks/git/dependency_tasks/core.py
Labels: feature-request, metric, server, database, release, bug-fix, python

#3176 Scorecard check spg1: Fixes Issue with OpenSSF ScoreCard Collection
  augur/application/schema/alembic/versions/32_update_openssf_deps.py
  augur/application/schema/alembic/versions/33_update_openssf_deps.py
  augur/tasks/git/dependency_tasks/core.py
Labels: deployed version, server, bug-fix, dependencies

#3183 Fix warnings/errors in docs & ensure clean builds
  .github/workflows/checks.yml
  docs/source/conf.py
  docs/source/deployment/nginx-configuration.rst
  docs/source/deployment/server-deployment.rst
  docs/source/deployment/toc.rst
  docs/source/development-guide/cli.rst
  docs/source/development-guide/configuration-file-reference.rst
  docs/source/development-guide/create-a-metric/api-development.rst
  docs/source/development-guide/create-a-metric/metrics-steps.rst
  docs/source/development-guide/create-a-metric/toc.rst
  docs/source/development-guide/documentation.rst
  docs/source/development-guide/make/development.rst
  docs/source/development-guide/make/documentation.rst
  docs/source/development-guide/make/testing.rst
  docs/source/development-guide/make/toc.rst
  docs/source/development-guide/testing/toc.rst
  docs/source/development-guide/toc.rst
  docs/source/development-guide/workers/clustering_worker.rst
  docs/source/development-guide/workers/creating_a_new_worker.rst
  docs/source/development-guide/workers/discourse_analysis_worker.rst
  docs/source/development-guide/workers/insight_worker.rst
  docs/source/development-guide/workers/message_insights_worker.rst
  docs/source/development-guide/workers/pull_request_analysis_worker.rst
  docs/source/docker/docker-compose.rst
  docs/source/docker/docker.rst
  docs/source/docker/getting-started.rst
  docs/source/docker/quick-start.rst
  docs/source/docker/toc.rst
  docs/source/docker/usage.rst
  docs/source/getting-started/Welcome.rst
  docs/source/getting-started/collecting-data.rst
  docs/source/getting-started/command-line-interface/backend.rst
  docs/source/getting-started/command-line-interface/db.rst
  docs/source/getting-started/database.rst
  docs/source/getting-started/dev-osx-install.rst
  docs/source/getting-started/frontend.rst
  docs/source/getting-started/installation.rst
  docs/source/getting-started/new-install.rst
  docs/source/getting-started/using-docker.rst
  docs/source/index.html
  docs/source/index.rst
  docs/source/login.rst
  docs/source/quick-start.rst
  docs/source/schema/commits.rst
  docs/source/schema/contributors.rst
  docs/source/schema/dependencies.rst
  docs/source/schema/issues.rst
  docs/source/schema/overview.rst
  docs/source/schema/pull-requests.rst
  docs/source/schema/regularly_used_data.rst
  docs/source/schema/table_data.rst
  docs/source/schema/toc.rst
  docs/source/schema/unused_data.rst
  docs/source/schema/used_data.rst
  docs/source/schema/working_tables.rst
Labels: documentation
